.place__image {
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__image {
    object-fit: cover;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .place__image {
    padding-left: 16px;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    max-width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    padding-left: 0;
    max-width: 100%;
  }
}
