.place__image {
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  .place__image {
    padding-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    padding-left: 0;
  }
}
