.cover__subtitle {
  font-family: 'Inter-400';
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  max-width: 360px;
  padding: 32px 412px;
  padding-bottom: 245px;
  text-align: center;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding: 32px 332px 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding: 32px 204px 115px;
  }
}

@media screen and (max-width: 536px) {
  .cover__subtitle {
    padding: 32px 50px;
  }
}

@media screen and (max-width: 430px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 16px 33px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 16px 33px;
    letter-spacing: 0.65px;
  }
}
