.footer__link {
  font-family: 'Inter-400', 'Arial', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  padding-right: 18px;
}

@media screen and (max-width: 646px) {
  .footer__link {
    padding-right: 10px;
  }
}

@media screen and (max-width: 439px) {
  .footer__link {
    padding-right: 5px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 19px;
  }
}
