.lead__image {
  max-width: 100%;
  object-fit: cover;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 668px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 391px) {
  .lead__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 324px) {
  .lead-__image {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    height: 200px;
  }
}
