.cover__title {
  font-family: 'Inter-900';
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  padding-top: 245px;
  padding-left: 312px;
  padding-right: 312px;
  margin: 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .cover-title {
    padding: 245px 312px 0;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding: 195px 232px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding: 62px 115px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    padding: 33px 45px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 0;
  }
}
