.intro__title {
  max-width: 690px;
  font-family: 'Inter-900', 'Arial', sans-serif;
  font-size: 54px;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin-top: 94px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-top: 110px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 40px;
    line-height: 42px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-top: 85px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
